/*基础样式*/


/*zhanging upload 2018-02-7*/

body,
html {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Arial", "sans-serif";
	font-size: 12px;
}

ul,
li {
	list-style: none;
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box
}

img,
hr,
legend {
	border: 0;
}

a,
input,
select {
	outline: none;
	background: none;
}

a,
a:hover,
a:active,
a:focus {
	text-decoration: none;
}

a:focus {
	outline: none;
}

label {
	font-weight: normal;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/

select::-ms-expand {
	display: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.w1300 {
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}
.w33{
	width: 33.33%;
}
.w50{
	width: 50%;
}
.ft18 {
	font-size: 18px;
}
.ml5{
	margin-left: 5px;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
/* 头部 */
.header {
	height: 90px;
	background: #fff;
	/* line-height: 90px; */
	font-size: 16px;
}
.header .logo{
	margin-right: 25px;
	display: block;
	padding-top: 30px;
	line-height: 0;
}
.header .logo,
.header ul.nav {
	float: left;
}

.header ul.nav li {
	float: left;
	line-height: 87px;
}

.header ul.nav li+li {
	margin-left: 40px;
}

.header ul.nav li a {
	display: block;
	color: #333;
	border-bottom: 3px solid transparent;
}

.header ul.nav li a.active ,.header ul.nav li a:hover{
	color: #005da2;
	border-bottom-color: #005da2;
}

.header ul.nav li.tel {
	color: #005da2;
}

.header ul.nav li.tel img,
.header ul.nav li.tel span {
	vertical-align: middle;
}

.header .dropdown-menu {
	float: right;
	width: 90px;
	position: relative;
}

.header .dropdown-menu .menubtn {
	height: 90px;
	width: 90px;
	display: block;
	background: url(../img_2019/menu.png) #005da2 no-repeat center center;
}

.header .dropdown-menu .dropdown-menu-wrap {
	position: absolute;
	width: 450px;
	right: 0;
	top: 90px;
	background: #005da2;
	color: #fff;
	padding: 50px 80px;
	display: none;

}
.header .dropdown-menu .dropdown-menu-wrap ul+p{
	margin-top: 55px;
}
.header .dropdown-menu .dropdown-menu-wrap li{
	float: left;
	margin-top: 20px;
}
.header .dropdown-menu .dropdown-menu-wrap a {
	color: #fff;
	font-size: 14px;
}
