/* banner */
.banner .swiper-slide {
	width: 100%;
	height: 870px;
	position: relative;
	/* background: url(../img_2019/demo/banner.jpg) no-repeat center center; */
	background-size: cover;
	overflow: hidden;
}

.banner .swiper-slide1 .imgbox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transition: top 4.5s;
}
/* .banner .swiper-slide1 .imgbox  img{
	width: 100%;
} */
.banner .swiper-slide1.active .imgbox {
	top: -200px;
}

.banner .swiper-slide1 .txt {
	position: absolute;
	left: 50%;
	top: 205px;
	transform: translate(-50%, 0);
	color: #fff;
	text-align: center;
	width: 1300px;
	font-size: 40px;
}

.banner .swiper-slide1 .txt h4 {
	font-size: 60px;
	margin-bottom: 25px;
}

.banner .swiper-slide1 .txt h4 .num {
	font-size: 80px;
	letter-spacing: 15px;
}

.banner .swiper-slide1 .txt h4 span {
	vertical-align: middle;
}

.banner .swiper-slide1 .txt .line {
	width: 866px;
	height: 1px;
	background: #fff;
	opacity: .3;
	margin: 48px auto;
}

.banner .swiper-slide1 .txt img+p {
	font-size: 24px;
	margin-top: 45px;
}

.banner .swiper-slide2 .txt {
	position: absolute;
	top: 260px;
	width: 1300px;
	padding-left: 60px;
	left: 50%;
	transform: translateX(-50%);
}

.banner .swiper-slide3 .txt,
.banner .swiper-slide3 .imgbox {
	position: absolute;
	top:245px;
	width: 1300px;
	padding-left: 60px;
	left: 50%;
	transform: translate(-50%,0);
}
.banner .swiper-slide3 .imgbox {
	top: 0;
}
.banner .swiper-slide .txt p {
	font-size: 60px;
	color: #fff;
}

.banner .swiper-slide .txt p .num {
	font-size: 90px;
}

.banner .swiper-slide .txt p span {
	vertical-align: middle;
}

.banner .swiper-slide3 .txt p {
	font-size: 40px;
}

.banner .swiper-slide3 .txt .border {
	height: 1px;
	margin: 40px 0;
	background: #fff;
	width: 100px;
}

.banner .swiper-slide3 .imgbox {
	height: 870px;
}

.banner .swiper-slide3 .imgbox .img1 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	transition: all .3s;
}

.banner .swiper-slide3 .imgbox .img2 {
	position: absolute;
	right: 0;
	top: 160px;
	transition: all .3s;
}

/* .banner .swiper-slide3:hover .imgbox .img1{
	transform: translate(-49%,10px);
}
.banner .swiper-slide3:hover .imgbox .img2{
	transform: translate(-49%,10px);
} */

.part{
	overflow: hidden;
}
.part .title {
	font-size: 42px;
	color: #333;

}

.part .subtitle {
	font-size: 18px;
	color: #999;
	margin-top: 15px;
	letter-spacing: 1.5px;
}

.part1 {
	background: #f6f6f6;
	height: 818px;
	overflow: hidden;
}

.part1>div {
	/* width: 50%; */
	float: left;
	height: 818px;
}

.part1>div.imgbox {
	background: url(../img_2019/bg1.jpg) #f6f6f6 no-repeat right center;
	width: 46%;
	position: relative;
}

.part1>div.imgbox>div {
	height: 100%;
	width: 100%;
	position: relative;
}

.part1>div.imgbox img {
	position: absolute;
	right: 134px;
	top: 50%;
	transform: translateY(-50%);
}

.part1>div.txtbox {
	padding: 80px 60px;
	width: 54%;
}

.part1>div.txtbox .title {
	color: #333;
	font-size: 42px;
}

.part1>div.txtbox .subtitle {
	font-size: 18px;
	color: #999;
	margin-top: 15px;
}

.part1>div.txtbox .tab {
	margin-top: 65px;
	width: 648px;
}

.part1>div.txtbox .tab-hd li {

	display: block;
	float: left;

}

.part1>div.txtbox .tab-hd li+li {
	margin-left: 70px;
}

.part1>div.txtbox .tab-hd a {
	font-size: 16px;
	color: #333;
	border-bottom: 2px solid transparent;
	padding-bottom: 8px;
}

.part1>div.txtbox .tab-hd a:hover,
.part1>div.txtbox .tab-hd a.active,
.part3 .tab .tab-hd ul li a:hover,
.part3 .tab .tab-hd ul li a.active,
.part7 .tab .tab-hd ul li a:hover,
.part7 .tab .tab-hd ul li a.active {
	color: #005da2;
	border-bottom-color: #005da2;
}

.part1>div.txtbox .tab-bd {
	margin-top: 55px;
	background: #f6f6f6;
}

.part1>div.txtbox .tab-bd ul li {
	height: 140px;
	width: 159px;
	background: #fff;
	float: left;
}

.part1>div.txtbox .tab-bd ul li:not(:first-child) {
	margin-left: 4px;
}

.part1>div.txtbox .tab-bd ul+ul {
	margin-top: 4px;
}

.part1>div.txtbox .tab-bd ul li a {
	position: relative;
	display: block;
	height: 140px;
	width: 159px;
}

.part1>div.txtbox .tab-bd ul li:hover a:before {
	position: absolute;
	content: '';
	width: 193px;
	height: 174px;
	top: -7PX;
	left: 50%;
	background: url(../img_2019/shadowbg.png);
	transform: translateX(-50%);

}

.part1>div.txtbox .tab-bd ul li a>div {
	position: relative;
	z-index: 99;
	text-align: center;
	color: #333;
	font-size: 16px;
	padding-top: 35px;
}

.part1>div.txtbox .tab-bd ul li a>div i {
	height: 38px;
	width: 100%;
	background: no-repeat center bottom;
	margin: 0 auto 20px;
	display: block;
}

.part1>div.txtbox .tab-bd ul li a>div i.icon1 {
	background-image: url(../img_2019/icon14.png);
}

.part1>div.txtbox .tab-bd ul li a>div i.icon2 {
	background-image: url(../img_2019/icon15.png);
}

.part1>div.txtbox .tab-bd ul li a>div i.icon3 {
	background-image: url(../img_2019/icon16.png);
}

.part1>div.txtbox .tab-bd ul li a>div i.icon4 {
	background-image: url(../img_2019/icon17.png);
}

.part1>div.txtbox .tab-bd ul li a>div i.icon5 {
	background-image: url(../img_2019/icon18.png);
}

.part1>div.txtbox .tab-bd ul li a>div i.icon6 {
	background-image: url(../img_2019/icon19.png);
}

.part1>div.txtbox .tab-bd ul li a>div i.icon7 {
	background-image: url(../img_2019/icon20.png);
}

.part1>div.txtbox .tab-bd ul li a>div i.icon8 {
	background-image: url(../img_2019/icon21.png);
}

.part1>div.txtbox .tab-bd ul li a>div i.icon9 {
	background-image: url(../img_2019/icon22.png);
}

.part1>div.txtbox .tab-bd ul li a>div i.icon10 {
	background-image: url(../img_2019/icon23.png);
}

.part1>div.txtbox .tab-bd ul li a>div i.icon11 {
	background-image: url(../img_2019/icon24.png);
}

.part1>div.txtbox .tab-bd ul li a>div i.icon12 {
	background: no-repeat center center;
	background-image: url(../img_2019/more.png);
	height: 10px;
	margin-top: 30px;

}

.part2 {
	color: #fff;
	text-align: center;
	background: url(../img_2019/bg2.jpg) no-repeat center center;
	padding-top: 115px;
	padding-bottom: 120px;
	height: 832px;
}

.part2 .title,
.part2 .subtitle {
	color: #fff;
}

.part2 .subtitle {
	margin-top: 20px;
}

.part2 .countuplist {
	margin-top: 95px;
}

.part2 .countuplist .countup-item {
	width: 33.33%;
	float: left;
	font-size: 16px;
	height: 207px;
	text-align: center;
	/* padding: 50px 0 ; */
}

.part2 .countuplist .countup-item>div {
	margin: 0 auto;
}

.part2 .countuplist .countup-item .num {
	font-size: 90px;
	margin-bottom: 20px;
}

.part2 .countuplist .countup-item:nth-child(3n+2) {
	border-left: 1px solid rgba(255, 255, 255, .2);
	border-right: 1px solid rgba(255, 255, 255, .2);
}

.part2 .countuplist .countup-item:nth-child(n+4) {
	border-top: 1px solid rgba(255, 255, 255, .2);
}



.part3 {
	text-align: center;
	padding: 80px 0 90px;
	background: #f5f7f8;
}

.part3 .tab .tab-hd ul li,
.part7 .tab .tab-hd ul li {
	display: inline-block;
}

.part3 .tab .tab-hd ul li+li {
	margin-left: 60px;
}

.part3 .tab .tab-hd ul li a,
.part7 .tab .tab-hd ul li a {
	display: block;
	padding: 0 10px 8px;
	border-bottom: 2px solid transparent;
	color: #333;
	font-size: 16px;
}

.part3 .tab .tab-hd {
	margin-top: 50px;

}

.caselist .case-item {
	width: 316px;
	position: relative;
	float: left;
	height: 316px;
	overflow: hidden;
}

.caselist .case-item .imgbox {
	height: 211px;
	overflow: hidden;

}

.caselist .case-item .titlebox {
	margin-top: 20px;
	position: relative;
}

.caselist .case-item.case-item-lg {
	width: 644px;

}

.caselist .case-item.case-item-lg .imgbox {
	height: 100%;

}

.caselist .case-item .imgbox img {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	display: block;
}

.caselist .case-item.case-item-lg .titlebox {
	position: absolute;
	bottom: 25px;
	left: 15px;
	text-align: left;
	padding-left: 100px;
	z-index: 9999;
}

.caselist .case-item .name {
	font-size: 18px;
	color: #333;
	position: relative;
}

.caselist .case-item .titlebox:before {
	position: absolute;
	content: '';
	width: 80px;
	left: 0;
	top: 10px;
	height: 1px;
	background: #aaa;
}

.caselist .case-item .tag {
	font-size: 14px;
	color: #999;
	margin-top: 8px;
}

.caselist .case-item.case-item-lg .tag,
.caselist .case-item.case-item-lg .name {
	color: #fff;
}

.caselist .case-item .show {
	position: absolute;
	width: 100%;
	height: 211px;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .7);
	color: #fff;
	font-size: 14px;
	opacity: 0;
	transition: all 1s;
}

.caselist .case-item.case-item-lg .show {
	height: 100%;
}

.caselist .case-item:hover .show {
	opacity: 1;
}

.caselist .case-item:hover .titlebox .name {
	color: #999;
}

.caselist .case-item.case-item-lg:hover .titlebox {
	opacity: .5;
}

.caselist .case-item.case-item-lg:hover .titlebox .name {
	color: #fff;
}

.caselist .case-item .show>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.caselist .case-item .show>div img {
	margin-top: 20px;
}

.caselist .case-item:hover .imgbox img {
	transform: scale(1.1, 1.1);
}

.caselist .case-item+.case-item {
	margin-left: 12px;
}

.part4 {
	text-align: center;
	padding-top: 80px;
}

.part4 .subtitle+div {
	background: url(../img_2019/bg4.jpg) no-repeat center center;
	height: 760px;
	color: #fff;

}

.part4 .tab-hd {
	width: 300px;
	float: left;
	background: url(../img_2019/tabbg.png) no-repeat center center;
	height: 760px;
	/* padding-top: 215px; */
}
.part4 .tab-hd>div{
	width: 100%;
}
.part4 .tab-hd a {
	display: block;
	line-height: 80px;
	color: #fff;
	font-size: 18px;
	padding-left: 50px;
	text-align: left;
	position: relative;
}

.part4 .tab-hd a.active {
	background: rgba(0, 0, 0, .5);
}

.part4 .tab-hd a.active:before {
	width: 6px;
	height: 100%;
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: #0092ff;
}

.part4 .tab-bd {
	width: 1000px;
	float: left;
	padding-top: 95px;
	padding-left: 100px;
}

.part4 .tab-bd .tab-item {
	text-align: left;
}

.part4 .tab-bd .tab-item-title {
	font-size: 30px;
}

.part4 .tab-bd .tab-item-subtitle {
	font-size: 16px;
	line-height: 30px;
	margin-top: 20px;
}

.part4 .tab-bd .tab-item .typelist {
	margin-top: 45px;
}

.part4 .tab-bd .tab-item .typelist li {
	/* display: inline-block; */
	text-align: center;

}

/* .part4 .tab-bd .tab-item .typelist li:first-child {
	min-width: 55px;
} */
/* 
.part4 .tab-bd .tab-item .typelist li+li {
	margin-left: 45px;
} */

.part4 .tab-bd .tab-item .typelist li a {
	display: block;
	text-align: center;
	color: #fff;
}

.part4 .tab-bd .tab-item .typelist a i {
	width: 100%;
	height: 40px;
	display: block;
	margin: 0 auto 15px;
	background: no-repeat center bottom;

}

.part4 .tab-bd .tab-item .typelist li i.icon1 {
	background-image: url(../img_2019/icon1.png);
}

.part4 .tab-bd .tab-item .typelist li i.icon2 {
	background-image: url(../img_2019/icon2.png);
}

.part4 .tab-bd .tab-item .typelist li i.icon3 {
	background-image: url(../img_2019/icon3.png);
}

.part4 .tab-bd .tab-item .typelist li i.icon4 {
	background-image: url(../img_2019/icon4.png);
}

.part4 .tab-bd .tab-item .typelist li i.icon5 {
	background-image: url(../img_2019/icon5.png);
}

.part4 .tab-bd .tab-item .typelist li i.icon6 {
	background-image: url(../img_2019/icon6.png);
}

.part4 .tab-bd .tab-item .typelist li i.icon7 {
	background-image: url(../img_2019/icon7.png);
}

.part4 .tab-bd .tab-item .typelist li i.icon8 {
	background-image: url(../img_2019/icon8.png);
}

.part4 .tab-bd .tab-item .typelist li i.icon9 {
	background-image: url(../img_2019/icon9.png);
}

.part4 .tab-bd .knowmore {
	width: 150px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	color: #fff;
	display: block;
	border-radius: 50px;
	border: 2px solid rgba(255, 255, 255, .5);
	margin: 60px 0 50px;
	transition: all .3s;
	position: relative;
	overflow: hidden;
}

.part4 .tab-bd .knowmore:before {
	position: absolute;
	z-index: -1;
	height: 100%;
	content: '';
	left: 0;
	width: 0;
	background: #fff;
	transition: all .3s;
}

.part4 .tab-bd .knowmore:hover {

	color: #005da2;
	transition: all .3s;
}

.part4 .tab-bd .knowmore:hover:before {
	width: 100%;
}

.part4 .tab-bd .tabcaselist {
	padding-top: 50px;
	border-top: 1px solid rgba(255, 255, 255, .2);
}

.part4 .tab-bd .tabcaselist h4 {
	font-size: 18px;
	margin-bottom: 40px;
}

.part4 .tab-bd .tabcaselist a {
	display: inline-block;
	vertical-align: middle;

}

.part4 .tab-bd .tabcaselist a+a {
	margin-left: 56px;
}

.part5 {
	background: #f8f8f8;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.part5 .w1300 {
	overflow: hidden;
	width: 1302px;
}

.part5 .w1300>div {
	float: left;
	background: #fff;
	border: 1px solid #eee;
	height: 360px;
	min-width: 254px;
	box-sizing: border-box;

}

.part5 .w1300>div+div {
	margin-left: 10px;
}

.part5 .w1300>div>div {
	width: 252px;
	height: 360px;
	float: left;
}

.part5 .w1300>div .leftpart {
	padding-top: 45px;
}

.part5 .w1300>div .leftpart .no {
	font-size: 50px;
	color: #ddd;
}

.part5 .w1300>div .leftpart i {
	height: 54px;
	width: 100%;
	margin: 75px auto 25px;
	display: block;
	background: no-repeat center center;
}

.part5 .w1300>div .leftpart i.icon1 {
	background-image: url(../img_2019/icon10.png);
}

.part5 .w1300>div .leftpart i.icon2 {
	background-image: url(../img_2019/icon11.png);
}

.part5 .w1300>div .leftpart i.icon3 {
	background-image: url(../img_2019/icon12.png);
}

.part5 .w1300>div .leftpart i.icon4 {
	background-image: url(../img_2019/icon13.png);
}

.part5 .w1300>div .leftpart p {
	font-size: 18px;
	color: #333;
	font-weight: bold;
}

.part5 .w1300>div .rightpart {
	background: url(../img_2019/bg5.jpg) no-repeat left center;
	width: 0;
	transition: width .3s;
	/* padding-top: 100px; */

}

.part5 .w1300>div .rightpart>div {
	margin: 0 auto;
}

.part5 .w1300>div .rightpart a {
	color: #fff;
	font-size: 14px;
	display: block;
	height: 36px;
	width: 120px;
	line-height: 34px;
	border: 1px solid rgba(255, 255, 255, .3);
	margin: 0 auto;
	position: relative;
}

.part5 .w1300>div .rightpart a+a {
	margin-top: 20px;
}

.part5 .w1300>div .rightpart a:hover {
	border: 1px solid #fff;
	color: #0092FF;
}

.part5 .w1300>div .rightpart a i {
	width: 0;
	position: absolute;
	left: 0;
	height: 100%;
	content: '';
	display: block;
	z-index: 0;
	transition: all .3s;
	background: #fff;
}

.part5 .w1300>div .rightpart a span {
	position: relative;
	z-index: 999;
}

.part5 .w1300>div .rightpart a:hover i {
	width: 100%;
}

.part5 .w1300>div.active {
	border: 1px solid rgba(255, 255, 255, 0);
}

.part5 .w1300>div.active .leftpart {
	background: #005da2;
	width: 254px;


}

.part5 .w1300>div.active .leftpart p {
	color: #fff;
}

.part5 .w1300>div.active .leftpart i.icon1 {
	background-image: url(../img_2019/sicon10.png);
}

.part5 .w1300>div.active .leftpart i.icon2 {
	background-image: url(../img_2019/sicon11.png);
}

.part5 .w1300>div.active .leftpart i.icon3 {
	background-image: url(../img_2019/sicon12.png);
}

.part5 .w1300>div.active .leftpart i.icon4 {
	background-image: url(../img_2019/sicon13.png);
}

.part5 .w1300>div.active .rightpart {
	width: 254px;
}

.part6 {
	background: no-repeat left center #fff;
	padding-top: 80px;
	text-align: center;
	height: 800px;
	line-height: 1;
	position: relative;
}

.part6>.bgimg {
	position: absolute;
	top: 0;
	width: 1300px;
	left: 50%;
	margin-left: -650px;
}

.part6>.bgimg img {
	position: absolute;
	top: 0;
	right: 910px;
}

.part6 .title,
.part6 .subtitle {
	text-align: left;
	padding-left: 470px;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.part6 .tab-hd {
	float: left;
	width: 240px;
	background: #2d2d2f;
	color: #fff;
	height: 584px;
	margin-top: 60px;
	font-size: 18px;

}

.part6 .tab-hd>div:first-child {
	background: #005da2;
	height: 240px;
	text-align: center;


}

.part6 .tab-hd>div:first-child .num {
	font-size: 90px;
	margin-bottom: 20px;

}

.part6 .tab-hd>div:last-child {
	padding-left: 55px;
	text-align: left;
	height: 345px;
	line-height: 30px;
}

.part6 .tab-bd {
	width: 1060px;
	float: left;
	margin-top: 60px;
}

.part6 .tab-bd ul {
	border-bottom: 1px solid #eee;
}

.part6 .tab-bd ul li {
	float: left;
	width: 212px;
	height: 146px;
	background: #fff;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
}

.part6 .tab-bd ul li a {
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
}

.part6 .tab-bd ul li:hover a:before {
	position: absolute;
	content: '';
	width: 245px;
	height: 197px;
	top: -7PX;
	left: 50%;
	background: url(../img_2019/shadowbg3.png) no-repeat;
	transform: translateX(-50%);

}

.part6 .tab-bd ul li a i {
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 999;
	background: url(../img_2019/demo/logo.png) no-repeat center center;
}

.part7 {
	background: #f5f7f8;
	padding: 80px 0;
	text-align: center;
}

.part7 .tab .tab-hd ul li+li {
	margin-left: 70px;
}

.part7 .tab .tab-hd {
	margin-top: 70px;
	margin-bottom: 50px;
}

.part7 .tab .tab-bd ul li {
	width: 649px;
	height: 273px;
	background: #fff;
	position: relative;
	float: left
}

.part7 .tab .tab-bd ul li:nth-child(2n+2) {
	margin-left: 2px;
}

.part7 .tab .tab-bd ul li:nth-child(n+3) {
	margin-top: 2px;
}

.part7 .tab .tab-bd ul li a {
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
}

.part7 .tab .tab-bd ul li a>div {
	position: relative;
	z-index: 999;
	padding: 20px;
	line-height: 30px;
	text-align: left;
}

.part7 .tab .tab-bd ul li a .time {
	color: #666;
	margin-bottom: 17px;
}

.part7 .tab .tab-bd ul li a .newsinfo>img {
	width: 50%;
	display: block;
	float: left;
}

.part7 .tab .tab-bd ul li a .newsinfo .name {
	font-size: 18px;
	padding-left: 30px;
	width: 50%;
	float: left;
	color: #333;
	text-align: left;
}

.part7 .tab .tab-bd ul li a:hover .newsinfo .name {
	color: #005da2;
}

.part7 .tab .tab-bd ul li a .des {
	font-size: 14px;
	color: #999;
	margin-top: 20px;
	line-height: 28px;

}

.part7 .tab-bd ul li:hover {
	z-index: 99999;
}

.part7 .tab-bd ul li:hover a:before {
	position: absolute;
	content: '';
	width: 683px;
	height: 307px;
	top: -8PX;
	left: 50%;
	background: url(../img_2019/shadowbg2.png);
	transform: translateX(-50%);
	z-index: 99;

}

.more {
	color: #333;
	font-size: 14px;
	display: inline-block;
	height: 54px;
	width: 160px;
	line-height: 50px;
	border-radius: 50px;
	position: relative;
	overflow: hidden;
}

.more:before {
	content: '';
	height: 100%;
	width: 0;
	background: #005da2;
	position: absolute;
	left: 0;
	top: 0;
	transition: all .3s;
	z-index: 0;
}

.more span {
	position: relative;
	z-index: 1;
	border: 2px solid #005da2;
	display: block;border-radius: 50px;
}

.more:hover {
	color: #fff;

}

.more:hover:before {
	width: 100%;
}

.tab .tab-item:not(:first-child) {
	display: none;
}
